@font-face {
    font-family: "Articulat CF";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/ArticulatCF/ArticulatCF-Normal.woff2);
}

@font-face {
    font-family: "Articulat CF";
    font-style: normal;
    font-weight: 200;
    src: url(/fonts/ArticulatCF/ArticulatCF-Light.woff2);
}

@font-face {
    font-family: "Articulat CF";
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/ArticulatCF/ArticulatCF-ExtraLight.woff2);
}

@font-face {
    font-family: "Prego";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Prego/PregoRegular.woff2") format("woff2"),
        url("/fonts/Prego/PregoRegular.otf") format("opentype");
}

@font-face {
    font-family: "Prego";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Prego/PregoLight.woff2") format("woff2");
}

body {
    background-color: #F8F2EF;
    color: #705647;
    height: 100%;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    -webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

section {
    scroll-margin-top: 120px;
}

/* Блок навигации */

header {
    position: fixed;
    background-color: #fefefe;
    border-radius: 50px ;
    border: 1px solid rgba(35, 35, 35, 0.20);
    z-index: 10;
}

a {    
    text-decoration: none;
    color: #705647;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1200px;
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.75px;
}

.anna-merculova {
    margin-left: 0px;
    font-size: 25px;
    font-weight: 600;
}

.anna-merculova:hover::after {
    width: 100%;
    right: 0;
}

.anna-merculova::after {
    background: none repeat scroll 0 0 transparent;
    background-color: #705647;
    top: 5px;
    content: "";
    display: block;
    height: 1px;
    right: 0;
    position: relative;
    transition: width .5s ease 0s, left .5s ease 0s;
    width: 0;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu__item {
    float: left;
    display: inline;
    padding: 30px;
}

.nav-menu__item:hover {
    scale: 1.2;
}

.nav-menu__item a:hover {
    border-bottom: #705647 1px solid;
    padding-bottom: 5px;
    scale: 1.2;
}

.nav-subscribe {
    background-color: #705647;
    height: 40px;
    width: 170px;
    border: none;
    border-radius: 40px;
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.75px;
    color: #fefefe;
}

.nav-subscribe:hover {
    scale: 1.1;
    cursor: pointer;
}

.nav-subscribe:active {
    scale: 0.95;
}

/* Основной раздел */

/* Приветсвенное окно */

.main {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: #232323;
    background-color: #fefefe;
    border: 1px solid rgba(35, 35, 35, 0.20);
    border-radius: 50px;
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.54px;
    margin-top: -120px;
    width: 785px;
}

.main-title h1 {
    font-size: 70px;
    font-weight: 500;
    letter-spacing: -2.8px;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 40px;
}

.font-prego {
    font-family: "Prego";
    font-size: 70px;
    font-weight: 200;
    letter-spacing: -2.8px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.main-title_bottom {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 40px;
}

/* Блок "Продвигаю" */

.about {
    display: flex;
    margin-top: 75px;
    margin-bottom: 120px;
    scroll-margin-top: 100px;
}

.about-photo {
    padding-top: 50px;
}

.about-description {
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin: 0;
    padding: 0;
}

.about-description h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -2.8px;
    margin: 0;
    padding: 0;
}

.about-sub_h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-weight: 100;
    font-style: italic;
    line-height: 90%;
    letter-spacing: -2.8px;
    margin: 0;
    margin-top: 10px;
    margin-left: 30px;
    padding: 0;
}

.about-greeting {
    margin: 0;
    margin-top: 60px;
    margin-left: 60px;
    padding: 0;
}

.about-list {
    margin: 0;
    margin-top: 40px;
    margin-left: 60px;
    padding: 0;
}

.about-list_60 {
    display: inline-block;
    padding-bottom: 20px;
    border-bottom: #705647 1px solid;
}

.about-list_10 {
    width: fit-content;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: #705647 1px solid;
}

.about-list_5 {
    width: fit-content;
    padding-bottom: 20px;
    border-bottom: #705647 1px solid;
}

.big-letters {
    font-family: "Articulat CF", sans-serif;
    font-style: normal;
    font-size: 70px;
    font-weight: 100;
    line-height: 90%;
    letter-spacing: -2.8px;
    margin-right: 20px;
}

/* Блок "Образование" */

.education {
    width: 1160px;
    height: 555px;
    border: 1px solid rgba(35, 35, 35, 0.20);    
    border-radius: 50px;
    background:#FEFEFE; 
    z-index: 2; 
}

.edu-circles {
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
}

.education h1 {
    font-family: "Articulat CF";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -2.8px;
    color: #232323;
    margin: 0;
    padding: 0;
    margin-left: 760px;
    margin-top: 40px;
}

.edu-photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    margin-top: 100px;
}

/* Блок "Опыт" */

.exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1280px;
    height: 800px;
    padding-left: 60px;
    margin-top: -80px;
    background: url(../images/Exp-back.png), no-repeat;
    background-size: cover;
    color: #FEFEFE;
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

.exp h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -2.8px;
    margin-bottom: 60px;
}

/* Блок "Процесс" */

.process {
    display: flex;
    margin-top: 150px;
    margin-bottom: 120px;
}

.process-photo {
    margin-top: -20px;
}

.process-description {
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-left: 90px;
}

.process-description h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -2.8px;
    margin: 0;
    margin-left: -30px;
    margin-bottom: 60px;
}

.process-description_between-top {
    margin-top: 40px;
}

.process-description_between-bottom {
    margin-bottom: 40px;
}

/* Блок "Тарифы" */

.rates {
    width: 1160px;
    height: 435px;
    background: #FEFEFE;
    border-radius: 50px;
    border: 1px solid rgba(35, 35, 35, 0.20);
    color: #232323;
}

.rates h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%; /* 63px */
    letter-spacing: -2.8px;
    margin-top: 50px;
    margin-left: 40px;
}

.rates-circles {
    float: right;
    padding-top: 50px;
    margin-right: 40px;
}

.rates-buttons {
    display: flex;
    width: 1080px;
    height: 225px;
    gap: 5px;
    margin: 40px;
}

.rates-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 225px;
    border: 1px solid rgba(35, 35, 35, 0.20);
    border-radius: 50px;
    margin: auto;
}

.rates-button P {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1px;
    padding-bottom: 20px;
}

.rates-button_price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Articulat CF", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1px;
    width: 270px;
    height: 75px;
    background: #232323;
    border-radius: 50px;
    color: #FEFEFE;
}

.rates-button_price:hover {
    scale: 1.05;
}

/* Блок "Отзывы" */

.feedback {
    margin-top: 150px;
    width: 1160px;
    height: 500px;
}

.feedback h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -2.8px;
    color: #232323;
    margin: 0;
    margin-bottom: 55px;
}

.feedback-arrows {
    float: right;
    margin-top: -13.5px;
}

.feedback-arrows_left {
    margin-right: 40px;
}

.feedback-arrows_left:hover,
.feedback-arrows_right:hover {
    scale: 1.2;
}

.feedback-arrows_left:active,
.feedback-arrows_right:active {
  transform: scale(0.8);
  opacity: 1;
}

.slick-slider {
    margin: 0 -30px;
}

.slick-slide {
    height: 350px;
    margin: 0 30px;
    
}

.slick-track {
    overflow: visible;
    padding-top: 5px; /*Позволяет корректно срабатывать scale для .slider-slide:hover*/
}

.slick-list {
    height: 410px;
}

.slider-slide {
    width: 550px;
    height: 350px;
    background: #FEFEFE;
    border: 1px solid rgba(35, 35, 35, 0.20);
    border-radius: 50px;
    margin-bottom: 150px;
    color: #232323;
}

.slider-slide:hover {
    scale: 1.01;
}

.slider-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    color: #232323;
    width: fit-content;
}

.feedback_user-name {
    font-family: "Articulat CF", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1px;
    margin-bottom: 20px;
    margin-left: 15px;
    width: fit-content;

}

.feedback_user-text {
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    width: 490px;
    height: fit-content;
    align-self: center;
    margin: 0 30px;
}


/* Блок "CTA" */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 880px;
    background: #232323;
    border-radius: 50px;
    margin-top: 120px;
    color: #232323;
}

.white-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FEFEFE;
    border-radius: 50px;
    padding: 40px 345px;
    height: 659px;
    gap: 40px;
}

.white-back h1 {
    font-family: "Articulat CF", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 90%; /* 63px */
    letter-spacing: -2.8px;
    margin: 0;
    padding: 0;

}

#cta {
    scroll-margin-top: 100px;
}

.cta-form_questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-top: 0;
    padding-top: 0;
}

.white-back p {
    font-family: "Articulat CF", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-bottom: 0;
}

/* .cta-form_description {
    padding-bottom: 40px;
} */

.cta-form {
    display: flex;
    flex-direction: column;
    width: 470px;
}

.cta-form input {
    height: 70px;
    margin-bottom: 40px;
    padding-left: 30px;
    border: 1px solid rgba(35, 35, 35, 0.20);
    border-radius: 50px;
    background: #FEFEFE;
}

.cta-form__item:hover {
    animation-name: blinking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blinking {
    50% {
        border-color: #705647;
    }
}

.cta-button {
    height: 70px;
    /* margin-bottom: 40px; */
    border: 1px solid rgba(35, 35, 35, 0.20);
    border-radius: 50px;
    background: #232323;
}

.cta-button::after {
    content: "Отправить";
    color: #FEFEFE;
    font-family: "Articulat CF", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1px;
}

.cta-button:hover {
    cursor: pointer;
    background-color: #705647;
    border: none;
}

.cta-button:active {
    letter-spacing: 2px;
}

/* Footer */

footer {
    display: flex;
    width: 1280px;
    padding: 150px 0;
    gap: 319px;
    color: #232323;
}

.footer-left {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
}

.esc {
    display: flex;
    flex-direction: column;
}

.esc-english {
    font-family: "Prego", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 100;
    line-height: 100%;
    letter-spacing: -2.8px;
    text-transform: uppercase;
}

.esc-speaking_club {
    font-family: "Articulate CF", sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2.8px;
    text-transform: uppercase;
}

.footer-right {
    display: flex;
    gap: 100px;
}

.contacts {
    display: flex;
    flex-direction: column;
    font-family: "Articulat CF", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 25px */
    letter-spacing: -1px;
}

.contacts p {
    margin: 0;
    padding-bottom: 30px;

}

.contacts a {
    color: #232323;
}

.contacts-item:hover,
.social-media__item:hover {
    scale: 1.2;
}

.contacts-item a:hover {
    border-bottom: #232323 1px solid;
    padding-bottom: 5px;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.up-button:hover {
    scale: 0.95;
}

.up-button:active {
    scale: 0.8;
}